/lib/*
/logs/*
/src/WebApi2Book.Common/bin/*
/src/WebApi2Book.Common/obj/*
/src/WebApi2Book.Common.Tests/bin/*
/src/WebApi2Book.Common.Tests/obj/*
/src/WebApi2Book.Data/bin/*
/src/WebApi2Book.Data/obj/*
/src/WebApi2Book.Data.SqlServer/bin/*
/src/WebApi2Book.Data.SqlServer/obj/*
/src/WebApi2Book.Data.SqlServer.IntegrationTests/bin/*
/src/WebApi2Book.Data.SqlServer.IntegrationTests/obj/*
/src/WebApi2Book.Data.Tests/bin/*
/src/WebApi2Book.Data.Tests/obj/*
/src/WebApi2Book.Web.Api/bin/*
/src/WebApi2Book.Web.Api/obj/*
/src/WebApi2Book.Web.Api/obj/WebApi2Book.Web.Api.csproj.user
/src/WebApi2Book.Web.Api.IntegrationTests/bin/*
/src/WebApi2Book.Web.Api.IntegrationTests/obj/*
/src/WebApi2Book.Web.Api.Models/bin/*
/src/WebApi2Book.Web.Api.Models/obj/*
/src/WebApi2Book.Web.Api.Tests/bin/*
/src/WebApi2Book.Web.Api.Tests/obj/*
/src/WebApi2Book.Web.Common/bin/*
/src/WebApi2Book.Web.Common/obj/*
/src/WebApi2Book.Web.Common.Tests/bin/*
/src/WebApi2Book.Web.Common.Tests/obj/*
/src/WebApi2Book.v12.suo
/src/WebApi2BookDb/bin/*
/src/WebApi2BookDb/obj/*
/src/WebApi2BookDb/WebApi2BookDb.sqlproj.user
/src/WebApi2BookDb/WebApi2BookDb.dbmdl
*.suo